 <footer>
      <div class="footer-top">
        <div class="container">
          <div class="row">
                        <div class="col-md-6">
              <img class="footer-logo" src="{{ site['url'] }}/{{ site['logo'] }}" alt="{{ site['site_name'] }}" title="{{ site['site_name'] }}">
              <p>{{ site['site_name'] }}, is the CHEAPEST & FASTEST Social Media Marketing Website which serves all customers worldwide.</p>
            </div>
            <div class="col-md-3">
              <h4 class="widget-title">Quick Links</h4>
              <ul class="footer-nav">
                <li><a href="/api">API</a></li>
                <li><a href="/howitworks">How It Works?</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/terms">Terms</a></li>
                <li><a href="/blogs">Blog</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4 class="widget-title">Reach us</h4>
              <p><strong>Email</strong>: <a href="">hyperhost</a></p>
              <ul class="follow-us">
                <li><a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
                      </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
                        <div class="col-md-12 text-center">
              <p class="copyright-text">Copyright ©  2018-2021 {{ site['site_name'] }}. All rights reserved</p>
            </div>
                      </div>
        </div>
      </div>
    </footer>
    
