
{% include 'header.twig' %}
      <main class="inner-wrap">
        <style>
  .label-badge {
    background-color: #fdf001;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 600;
    margin-left: 10px;
  }
  .label-badge i{
  	margin-right: 3px;
  }
  .ar .label-badge{
  	margin-left:0;
    margin-right: 10px
  }
  .ar .label-badge i{
  	margin-right: 0;
    margin-left: 3px;
  }
  .nightmode .label-badge{
  	background-color: #484848;
  }
  .banner-inner p .uData {
  font-weight: 700;
  font-size: 16px;
  }
  .modal-logo img {
    max-width: 172px;
  }
  .statusModal .modal-lg {
  width: 1140px;
  }
  .statusModal .modal-header {
  padding: 0;
  border: none;
  }
  .statusModal .modal-content {
  border-radius: 45px;
  border: none;
  }
  .statusModal .modal-header button.close {
  position: absolute;
  right: 0;
  box-shadow: none;
  background-color: #fdf001;
  z-index: 11;
  color: #000;
  opacity: 1;
  text-shadow: none;
  border: none;
  font-weight: 300;
  }
  .statusModal .modal-body {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .modal-left {
  max-width: 20%;
  flex: 0 0 20%;
  }
  .modal-right {
  max-width: 80%;
  flex: 0 0 80%;
  display: flex;
  flex-wrap: wrap;
  }
  .modal-logo {
  background-color: #000;
  border-radius: 42px 0 0 0;
  text-align: center;
  padding: 25px 0;
  }
  .ar .modal-logo {
    border-radius: 0 42px 0px 0;
  }
  .status-box-wrap {
  max-width: 16.65%;
  flex: 0 0 16.65%;
  transition: all 0.4s ease-in;
  }
  .modal-status-title {
  background-color: #f7f9f9;
  margin: 0;
  list-style: none;
  padding: 30px 25px;
  }
  .ar .modal-status-title {
  padding: 30px 23px;
  }
  .modal-status-title li {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 48px;
  }
  .modal-status-title li sup{
  font-size: 14px;
  font-weight: 700;
  }  
  .status-slider .slick-list {
  padding: 0 !important;
  }
  .status-box-top {
  padding: 20px 0;
  text-align: center;
  }
  .status-box-top h4 {
  color: #b0b0b0;
  font-weight: 300;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
  }
  .status-box-top h3 {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
  color: #000;
  }
  .status-box-badge {
  background-image: url(https://res.cloudinary.com/smmcpan2/image/upload/v1627852108/p7.png);
  width: 126px;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  }
  .slick-center .status-box-badge{
  background-position: -127px 0px;
  }
  .modal-status-value {
  padding: 30px 0px;
  margin: 0;
  list-style: none;
  }
  .modal-status-value li {
  text-align: center;
  line-height: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .modal-status-value li .price {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  color: #000;
  line-height: inherit;
  }
  .modal-status-value li .price sup {
  font-weight: 700;
  }
  .slick-center .status-box-wrap {
  background-color: #efe200;
  }
  .slick-center .status-box-wrap h4 {
  color: #fff;
  }
  .modal-status-value li div {
  width: 24px;
  height: 24px;
  display: flex;
  margin: auto;
  border-radius: 50px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  }
  .modal-status-value li div.disabl {
  color: #ffffff;
  background-color: #ff0000;
  }
  .modal-status-value li div.enble {
  background-color: #efe200;
  }
  .slick-center .modal-status-value li div.disabl, .slick-center .modal-status-value li div.enble {
  background-color: #fff;
  }
  .slick-center .modal-status-value li div.disabl{
  color: #ff0000;
  }
  .status-slider .slick-dots button::before {
  background-color: #efe200;
  width: 10px;
  height: 10px;
  }
  .status-slider .slick-dots button {
  padding: 0;
  width: 10px;
  height: 10px;
  }
  .status-slider .slick-dots li {
  height: auto;
  width: auto;
  }
  .slick-dotted.status-slider {
  margin-bottom: 0;
  }
  .ar .statusModal .modal-header button.close {
  right: auto;
  left: -15px;
  float: left;
  }
  .modal-bottom {
    max-width: 100%;
    flex: 0 0 100%;
    background-color: #f7f9f9;
    border-radius: 0 0 42px 42px;
    padding: 10px 25px 15px;
  }
  .modal-bottom p {
    font-size: 14px;
    margin: 0;
  }
  .modal-bottom ul {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  .modal-bottom ul li {
    font-size: 13px;
  }
  .ar .modal-status-value{
    padding: 22px 0px;
  }
  .nightmode .modal-bottom,
  .nightmode .modal-status-title{
    background-color: #484848;
  }
  .nightmode .modal-status-title li,
  .nightmode .status-box-top h3,
  .nightmode .modal-status-value li .price{
  	color:#ffffff;
  }
  .nightmode #service_name{
  	color: #000000;
  }
  
  @media(max-width:550px){
    .modal-logo{
      border-radius: 42px 42px 0 0;
  	}
    .modal-status-title {
  	  display: none;
    }
  	.statusModal .modal-body {
      flex-direction: column;
  	}
    .modal-left,
    .modal-right{
      max-width: 100%;
      flex: 0 0 100%;
    }
  	.statusModal .modal-lg {
      width: auto;
  	}
    .status-box-wrap {
      max-width: 100%;
      flex: 0 0 100%;
    }
  	.status-box-top {
      padding: 10px 0;
    }
    .modal-status-value {
      padding: 10px 0px;
    }
  	.modal-status-value li{
  	  min-height: 38px;
  	}
  	.modal-status-value li div, 
  	.modal-status-value li h5 {
      position: relative;
      padding-left: 75%;
      border-radius: 4px;
      height: auto;
      line-height: 32px;
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      width: auto;
  	}
  	.modal-status-value li div::before, 
  	.modal-status-value li h5::before {
      content: attr(data-head);
      display: inline-block;
      position: absolute;
      left: 10px;
      font-size: 14px;
      line-height: 32px;
  	}
  	.modal-status-value li .price::before {
      position: relative;
      left: auto;
      margin-right: 10px;
  	}
  	.modal-status-value li div i {
      margin-right: 15px;
      margin-left: -15px;
  	}
  	.modal-status-value li .price {
      font-size: 14px;
      line-height: 32px;
      padding-left: 0;
      display: inline-block;
      white-space: nowrap;
  	}
    .ar .modal-status-value li div::before, 
    .ar .modal-status-value li h5::before {
      left: auto;
      right: 10px;
    }
  	.ar .modal-status-value li div, 
  	.ar .modal-status-value li h5 {
      padding-right: 75%;
      padding-left: 0;
  	}
  	.ar .modal-status-value li div i {
      margin-right: -15px;
      margin-left: 15px;
  	}
  	.ar .modal-status-value li .price {
      padding-right: 0;
  	}
  	.ar .modal-status-value li .price::before{
  	  margin-left: 20px;
  	  margin-right: 0;
    }
  	.nightmode .modal-status-value li div {
      color: #000;
  	}
    .ar .statusModal .modal-header button.close{
  	  left: 5px;
    }
    .ar .modal-logo {
      border-radius: 42px 42px 0px 0;
    }
  }
</style>

<section id="info-banner">
  <div class="container-fluid">
    <div class="banner-inner">
      <div class="row">
        <div class="col-sm-8">
          <div class="col-sm-6">
            <h2 class="banner-head">Welcome back, {{ user['username'] }}</h2>
            <h3 class="banner-sub-head"><div><i class="fas fa-money-bill-alt"></i> Your balance is:<br><br><span>{{ user['balance'] }}</span></div><div><i class="fas fa-sack-dollar"></i> Account Spending:<br><br><span>{{ user['spent'] }}</span></div></h3>
          </div>
          <div class="col-sm-6">
            <div class="level-container">
              <div class="level-wrap" data-toggle="modal" data-target="#statusModal">
                <div class="svg-level">
                  <svg height="100%" width="100%">
                    <circle class="round-progress" style="stroke-dasharray: 329.743px; stroke-dashoffset: 295px;" cy="58" cx="58" r="53.5"></circle>
                  </svg>
                </div>
                <div class="level-inner"><span class="level-per">
                  10%</span></div>
              </div>
              <div class="level-content">
                <h2 class="level-head">
                                    New                                  </h2>
                <h3 class="banner-sub-head">Current Status</h3>
                <small class="note">                                    Until Next Status Make Orders for $ 100
                  </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6">
            <h2 class="total-head">{{ ordersCount }}</h2>
            <p>Orders Completed</p>
            <img src="https://cdn.mypanel.link/e9e910/4tobxr866xljsr5q.png" alt="" class="order-cart" />
          </div>
          <div class="col-sm-6">
            <h2 class="points-head">Points <i class="fas fa-coins"></i></h2>
            <a href="#" class="points-btn" data-toggle="modal" data-target="#pointModal"><i class="fas fa-exclamation"></i></a>
            <small>$-/100</small>
            <p><span class="uData" id="uFraction"></span>&nbsp;≈&nbsp;<span class="uData" id="uEarning"></span></p>
            <a class="redeem-btn" href="/tickets"><i class="fas fa-wallet"></i> Redeem Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
    <div class="row">
    <div class="col-sm-12">
         {% if error %}
      <div class="alert alert-dismissible alert-danger">
        {{ errorText }}
      </div>
    {% endif %}

    {% if data["order"]["success"] == 1 %}
      <div class="alert alert-dismissible alert-success">
          <strong> {{ lang["neworder.success.id"] }}: </strong> {{ data['order']['id'] }} <br>
          <strong> {{ lang["neworder.success.service"] }}: </strong> {{ data['order']['service'] }} <br>
          <strong> {{ lang["neworder.success.link"] }}: </strong> {{ data['order']['link'] }} <br>
          <strong> {{ lang["neworder.success.quantity"] }}: </strong> {{ data['order']['quantity'] }} <br>
          <strong> {{ lang["neworder.success.link"] }}: </strong> {{ data['order']['price'] }} <br>
          <strong> {{ lang["neworder.success.balance"] }}: </strong>{{ data['order']['balance'] }} <br>
      </div>
    {% endif %}
    {% if data["order"]["success"] == 2 %}
      <div class="alert alert-dismissible alert-success">
         <strong> {{ lang["neworder.success.id"] }}: </strong> {{ data['order']['id'] }} <br>
         <strong> {{ lang["neworder.success.service"] }}: </strong> {{ data['order']['service'] }} <br>
         <strong> {{ lang["neworder.success.username"] }}: </strong> {{ data['order']['link'] }} <br>
         <strong> {{ lang["neworder.success.quantity"] }}: </strong> {{ data['order']['min'] }} - {{ data['order']['max'] }} <br>
         <strong> {{ lang["neworder.success.posts"] }}: </strong> {{ data['order']['posts'] }} <br>
         <strong> {{ lang["neworder.success.delay"] }}: </strong>{{ data['order']['delay'] }} <br>
       </div>
    {% endif %}
      <div class="noti-bar noti-warning">/child-panels
        <div class="noti-icon"></div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#new-order" aria-controls="new-order" role="tab" data-toggle="tab">New Order</a></li>
        <li class="noti"><a href="#info-updates" aria-controls="info-updates" role="tab" data-toggle="tab">Info and Updates</a></li>
        <li class="noti"><a href="#read-before" aria-controls="read-before" role="tab" data-toggle="tab">READ before you order</a></li>
      </ul>
      <div class="well">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="new-order">
           <form  action="/" method="post" id="order-form">
                                                                      <div class="form-group">
                <label for="orderform-category" class="control-label">{{ lang["neworder.category"] }}</label>
                <select class="form-control select2" id="neworder_category" name="categories">
                {% for category in categories %}
                    <option value="{{ category["category_id"] }}" >{{ category["category_name"] }}</option>
                {% endfor %}
                </select>
              </div>
                            <div class="form-group">
                <label for="orderform-service" class="control-label">{{ lang["neworder.services"] }}<span class="label-badge"><i class="fas fa-hashtag"></i><span class="servID"></span></span></label>
                 <select class="form-control select2" id="neworder_services" onchange="chk(this);" name="services">

                </select>
              </div>
            <script type="text/javascript" src="/public/Diamond/js/main.js"></script>    
               <div id="neworder_fields"></div>

              <div class="form-group">
                <label for="charge" class="control-label">{{ lang["neworder.charge"] }}</label>
                <input type="text" class="form-control" id="charge" readonly>
              </div>
        {% if neworderTerms %}
          <div class="checkbox">
            <label>
              <input type="checkbox" name="neworder_check">{{ lang['neworder.recheck'] }}
            </label>
          </div>
        {% endif %}
            
          <button type="submit" class="btn btn-primary">{{ lang["neworder.button"] }}</button>

            </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="info-updates">
          	            <p>All Services are written now on this format:<br><b style="font-weight: bold;">Service name [Max] [Start time - Speed]</b></p>
            <p>🔥 = Top service.<br>💧 = Dripfeed is on.<br>♻ = Refill button is enabled.<br>🛑 = Cancel button is enabled.<br><b style="font-weight: bold;">Rxx</b> = Refill period (xx referring to the refill time, eg: R30 = 30 Days Refill).<br><b style="font-weight: bold;">ARxx</b> = Automatic Refill period (xx referring to the auto-refill time, eg: AR30 = 30 Days Auto-Refill).</p>
            <p><b style="font-weight: bold;">INSTANT</b> start orders can take up to 1 hour to start. (<b style="font-weight: bold;">1H</b> start time orders usually takes minutes to start).<br> <b style="font-weight: bold;">H</b> as in 1H, 12H, etc means Hour(s). <br> <b style="font-weight: bold;">HQ/LQ</b> = High Quality/Low Quality.<br> The <b style="font-weight: bold;">SPEED</b> is UP TO xx/Day, eg 10K/Day order can be 5K/Day, we are stating the maximum speed, please refrain to the description for more help.</p>
            <p>Services under the <b style="font-weight: bold;">🔥 BEST Services [Recommended] [Exclusive Services] [MOST Selling] [FASTEST]</b> category, are the ones of High Quality and are ordered frequently by our users.</p>
            <p>For more News, check our <a href="" target="_blank" style="color: #f36c21 !important">NEWS</a> section.<br>For more Info, check our <a href="/faq" target="_blank" style="color: #f36c21 !important">FAQ</a> section.<br>
              For more help, please <a href="/tickets" target="_blank" style="color: #f36c21 !important">CONTACT US</a> now.</p>
                      </div>
          <div role="tabpanel" class="tab-pane" id="read-before">
                        <p><strong>Please READ those notes carefully before you place an order</strong></p>
            <p>- All accounts must be Public , Not Private<br> 
              - Please DO NOT order more than 1 order for the same link at the same time until the first one is Completed.<br>
              - Make sure your Subs and Likes and Views counter is public not private before you order.<br>
              - WE CAN'T Cancel/Edit any order after you put it on the system unless it got no problems , so please make sure to do the right order.<br>
              - If you change ur account to private or your video or post got deleted after you put the order we will mark the order as completed and we can't cancel it in any case.<br>
              - Please DO NOT order for ( Porn, Politics, extremism, and any content that stirs public opinion Accounts.<br>
              - When you make a new order you accept out terms and conditions.<br>
              - IMP : When you add funds we cant reverse your payment in any case and you will just be able to use your funds on the website.</p>
            <p><strong>Refill System :</strong></p> 
            <p>- Refill system works according to the start, quantity and end count for each order separately.</p>
            <p>- so when you request a refill for many orders we will take a look on each order separate depending on his numbers as we described above.</p>
            <p>- if you have order followers for example and a drop occured , please contact us via Tickets to refill it and DO NOT order a new one until the first one got fully refilled because the new order will have the current start count of your account and the time you order.</p>
            <p>- Refill period differ along the updates and overload but usually its done within 24-72 Hours.</p>
            <p>- If your account has a big number of followers for example : 200k and you order 2k , Logically it will have a drop from the old followers so we cant refill in this case so make sure to order all followers from our side so we could follow up and refill all of your orders.</p>
            <p><strong>DID not find the service you need ?</strong></p>
            <p>- please rise a ticket with a subject of " Request " so our team will follow up and try to add the service for you</p>
                      </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="monitor-wrap">
        <div class="sevice-title"><h2 id="service_name">Instagram FEMALE & Male Comments [Random 40 Comments] [1 Hr Delivery]</h2>
          <a id="example_link" target="_blank" href="" class="monitor-link">smmpanel</a>
        </div>
        <div class="monitor-stats">
          <span class="monitor-misc-1"></span>
          <span class="monitor-misc-2"></span>
          <div class="monitor-row">
            <div class="monitor-col-1">
              <div class="monitor-icon-box"><i class="fad fa-alarm-clock"></i></div>
              <div class="monitor-stats-content">
                <h4 class="monitor-stats-head">START TIME</h4>
                <h5 class="monitor-value" id="start_time">0-24H</h5>
              </div>
            </div>
            <div class="monitor-col-2">
              <div class="monitor-stats-content">
                <h4 class="monitor-stats-head">SPEED</h4>
                <h5 class="monitor-value" id="speed">0 Hrs</h5>
              </div>
              <div class="monitor-icon-box"><i class="fas fa-tachometer-slowest"></i></div>
            </div>
          </div>
          <div class="monitor-row">
            <div class="monitor-col-1">
              <div class="monitor-icon-box"><i class="fas fa-alarm-exclamation"></i></div>
              <div class="monitor-stats-content">
                <h4 class="monitor-stats-head">AVERAGE TIME</h4>
                <h5 class="monitor-value" id="average_time">21 minutes</h5>
              </div>
            </div>
            <div class="monitor-col-2">
              <div class="monitor-stats-content">
                <h4 class="monitor-stats-head">GUARANTEED</h4>
                <h5 class="monitor-value" id="guaranteed">Non Drop</h5>
              </div>
              <div class="monitor-icon-box"><i class="fal fa-users-crown"></i></div>
            </div>
          </div>
          <div class="monitor-row">
            <div class="monitor-col-1">
              <div class="monitor-icon-box"><i class="fad fa-star-christmas"></i></div>
              <div class="monitor-stats-content">
                <h4 class="monitor-stats-head">QUALITY</h4>
                <h5 class="monitor-value" id="quality">HQ</h5>
              </div>
            </div>
          </div>
          <div class="monitor-row">
            <div class="monitor-col-3">
              <div class="monitor-icon-box"><img src="https://cdn.mypanel.link/e9e910/ek4aee7h1gw0s135.png" alt="monitor-icon" /></div>
              <div class="monitor-stats-content">
                <h4 class="monitor-stats-head">DESCRIPTION</h4>
                <h5 class="monitor-value" id="description">Fast Delivery <br>40 Female comments <br>(per 1000 order quantity)</h5>
              </div>
            </div>
          </div>
          <small class="monitor-notes">Don't worry if any of these information showed N/A or NULL, not all the services have the monitor available Also give it a second to update as you switch services, we are loading it when you switch instead of all together to make the website faster and the information as accurate as possible</small>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Status Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="statusModalLabel">ACCOUNT STATUSES</h4>
      </div>
      <div class="modal-body">
        <p>NOTE:
          * = You may purchase a VIP status for a month from our services under the VIP section.</p>
        <div class="row">
          <div class="col-md-4" style="padding: 0 5px;">
            <div class="single-bg-plc" style="padding: 10px;color: black;background: #fdf001;height: 50px;justify-content: inherit;border-radius: 12px;">
              <i class="fal fa-medal"></i>
              <div style="margin-left: 10px;margin-right: 10px;font-size: 12px; line-height: 1; width: 100%;"><span style="">HAVEN'T SPENT LESS THAN</span> <br> <strong style="margin-bottom: 0;color: black;font-size: 18px;">NEW</strong></div>
              <div style=""><strong style="font-size: 22px;">$100</strong><span style="font-size: 18px;font-weight: bold;"></span></div>
            </div>
            <div style="background: rgba(253, 240, 1, 0.35);text-align: center;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;margin-left: 10px;margin-right: 10px;padding: 10px;border: 5px double #fdf001;border-top: 0;">
              <div><span class="option">24/7 Tickets Support</span></div>
              <div><span class="option">Up to 5% Payments Bonus</span></div>
              <div><strike><span class="option disabled">PayPal Activation</span></strike></div>
              <div><strike><span class="option disabled">50$ Monthly LOTTERY</span></strike></div>
              <div><strike><span class="option disabled">FREE 1st month Child panel</span></strike></div>
              <div><strike><span class="option disabled">5% Discount on 3 custom services</span></strike></div>
              <div><strike><span class="option disabled">SUPPORT HANDLED BY THE ADMINS</span></strike></div>
            </div>
          </div>
          <div class="col-md-4" style="padding: 0 5px;">
            <div class="single-bg-plc" style="padding: 10px;color: black;background: #fdf001;height: 50px;justify-content: inherit;border-radius: 12px;">
              <i class="fal fa-medal"></i>
              <div style="margin-left: 10px;margin-right: 10px;font-size: 12px; line-height: 1; width: 100%;"><span style="">HAVE SPENT MORE THAN</span> <br> <strong style="margin-bottom: 0;color: black;font-size: 18px;">JUNIOR</strong></div>
              <div style=""><strong style="font-size: 22px;">$100</strong><span style="font-size: 18px;font-weight: bold;"></span></div>
            </div>
            <div style="background: rgba(253, 240, 1, 0.35);text-align: center;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;margin-left: 10px;margin-right: 10px;padding: 10px;border: 5px double #fdf001;border-top: 0;">
              <div><span class="option">24/7 Tickets Support</span></div>
              <div><span class="option">Up to 5% Payments Bonus</span></div>
              <div><span class="option">PayPal Activation</span></div>
              <div><strike><span class="option disabled">50$ Monthly LOTTERY</span></strike></div>
              <div><strike><span class="option disabled">FREE 1st month Child panel</span></strike></div>
              <div><strike><span class="option disabled">5% Discount on 3 custom services</span></strike></div>
              <div><strike><span class="option disabled">SUPPORT HANDLED BY THE ADMINS</span></strike></div>
            </div>
          </div>
          <div class="col-md-4" style="padding: 0 5px;">
            <div class="single-bg-plc" style="padding: 10px;color: black;background: #fdf001;height: 50px;justify-content: inherit;border-radius: 12px;">
              <i class="fal fa-medal"></i>
              <div style="margin-left: 10px;margin-right: 10px;font-size: 12px; line-height: 1; width: 100%;"><span style="">HAVE SPENT MORE THAN</span> <br> <strong style="margin-bottom: 0;color: black;font-size: 18px;">FREQUENT</strong></div>
              <div style=""><strong style="font-size: 22px;">$1K</strong><span style="font-size: 18px;font-weight: bold;"></span></div>
            </div>
            <div style="background: rgba(253, 240, 1, 0.35);text-align: center;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;margin-left: 10px;margin-right: 10px;padding: 10px;border: 5px double #fdf001;border-top: 0;">
              <div><span class="option">24/7 Tickets Support</span></div>
              <div><span class="option">Up to 5% Payments Bonus</span></div>
              <div><span class="option">PayPal Activation</span></div>
              <div><span class="option">50$ Monthly LOTTERY</span></div>
              <div><strike><span class="option disabled">FREE 1st month Child panel</span></strike></div>
              <div><strike><span class="option disabled">5% Discount on 3 custom services</span></strike></div>
              <div><strike><span class="option disabled">SUPPORT HANDLED BY THE ADMINS</span></strike></div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <div class="col-md-4" style="padding: 0 5px;">
            <div class="single-bg-plc" style="padding: 10px;color: black;background: #fdf001;height: 50px;justify-content: inherit;border-radius: 12px;">
              <i class="fal fa-medal"></i>
              <div style="margin-left: 10px;margin-right: 10px;font-size: 12px; line-height: 1; width: 100%;"><span style="">HAVE SPENT MORE THAN</span> <br> <strong style="margin-bottom: 0;color: black;font-size: 20px;">ELITE</strong></div>
              <div style=""><strong style="font-size: 22px;">$2,5K</strong><span style="font-size: 18px;font-weight: bold;"></span></div>
            </div>
            <div style="background: rgba(253, 240, 1, 0.35);text-align: center;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;margin-left: 10px;margin-right: 10px;padding: 10px;border: 5px double #fdf001;border-top: 0;">
              <div><span class="option">24/7 Tickets Support</span></div>
              <div><span class="option">Up to 5% Payments Bonus</span></div>
              <div><span class="option">PayPal Activation</span></div>
              <div><span class="option">50$ Monthly LOTTERY</span></div>
              <div><span class="option">FREE 1st month Child panel</span></div>
              <div><strike><span class="option disabled">5% Discount on 3 custom services</span></strike></div>
              <div><strike><span class="option disabled">SUPPORT HANDLED BY THE ADMINS</span></strike></div>
            </div>
          </div>
          <div class="col-md-4" style="padding: 0 5px;">
            <div class="single-bg-plc" style="padding: 10px;color: black;background: #fdf001;height: 50px;justify-content: inherit;border-radius: 12px;">
              <i class="fal fa-medal"></i>
              <div style="margin-left: 10px;margin-right: 10px;font-size: 12px; line-height: 1; width: 100%;"><span style="">HAVE SPENT MORE THAN</span> <br> <strong style="margin-bottom: 0;color: black;font-size: 20px;">VIP</strong></div>
              <div style=""><strong style="font-size: 22px;">$10K</strong><span style="font-size: 18px;font-weight: bold;"></span></div>
            </div>
            <div style="background: rgba(253, 240, 1, 0.35);text-align: center;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;margin-left: 10px;margin-right: 10px;padding: 10px;border: 5px double #fdf001;border-top: 0;">
              <div><span class="option">24/7 Tickets Support</span></div>
              <div><span class="option">Up to 5% Payments Bonus</span></div>
              <div><span class="option">PayPal Activation</span></div>
              <div><span class="option">50$ Monthly LOTTERY</span></div>
              <div><span class="option">FREE 1st month Child panel</span></div>
              <div><span class="option">5% Discount on 3 custom services</span></div>
              <div><strike><span class="option disabled">SUPPORT HANDLED BY THE ADMINS</span></strike></div>
            </div>
          </div>
          <div class="col-md-4" style="padding: 0 5px;">
            <div class="single-bg-plc" style="padding: 10px;color: black;background: #fdf001;height: 50px;justify-content: inherit;border-radius: 12px;">
              <i class="fal fa-medal"></i>
              <div style="margin-left: 10px;margin-right: 10px;font-size: 12px; line-height: 1; width: 100%;"><span style="">HAVE SPENT MORE THAN</span> <br> <strong style="margin-bottom: 0;color: black;font-size: 20px;">MASTER</strong></div>
              <div style=""><strong style="font-size: 22px;">$25k</strong><span style="font-size: 18px;font-weight: bold;"></span></div>
            </div>
            <div style="background: rgba(253, 240, 1, 0.35);text-align: center;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;margin-left: 10px;margin-right: 10px;padding: 10px;border: 5px double #fdf001;border-top: 0;">
              <div><span class="option">24/7 Tickets Support</span></div>
              <div><span class="option">Up to 5% Payments Bonus</span></div>
              <div><span class="option">PayPal Activation</span></div>
              <div><span class="option">50$ Monthly LOTTERY</span></div>
              <div><span class="option">FREE 1st month Child panel</span></div>
              <div><span class="option">5% Discount on 3 custom services</span></div>
              <div><span class="option">SUPPORT HANDLED BY THE ADMINS</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Point Modal -->
<div class="modal fade statusModal" id="pointModal" tabindex="-1" role="dialog" aria-labelledby="pointModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="modal-left">
          <div class="modal-logo"><img src="https://cdn.mypanel.link/1847ba/lfoy4r7wdiioidcr.png" /></div>
          <ul class="modal-status-title">
            <li>Available</li>
            <li>CAN REDEEM >= 500<sup>PT</sup></li>
            <li>CAN REDEEM >= 250<sup>PT</sup></li>
            <li>CAN REDEEM >= 100<sup>PT</sup></li>
            <li>Conversion < 4 Days</li>
            <li>Each 100 Points ≈</li>
          </ul>
        </div>
        <div class="modal-right">
          <div class="status-box-wrap  active-level">
            <div class="status-box-top">
              <h4>User Level</h4>
              <h3>NEW</h3>
              <div class="status-box-badge"><img src="https://res.cloudinary.com/smmcpan2/image/upload/v1627851339/p2.png" /></div>
            </div>
            <ul class="modal-status-value">
              <li><div class="disabl" data-head="Available"><i class="fal fa-times"></i></div></li>
              <li><div class="disabl" data-head="CAN REDEEM >= 500 POINTS"><i class="fal fa-times"></i></div></li>
              <li><div class="disabl" data-head="CAN REDEEM >= 250 POINTS"><i class="fal fa-times"></i></div></li>
              <li><div class="disabl" data-head="CAN REDEEM >= 100 POINTS"><i class="fal fa-times"></i></div></li>
              <li><div class="disabl" data-head="LESS THAN 4 DAYS CONVERSATION"><i class="fal fa-times"></i></div></li>
              <li><h5 class="price" data-head="Each 100 Points ≈">~</h5></li>
            </ul>
          </div>
          <div class="status-box-wrap  active-level">
            <div class="status-box-top">
              <h4>User Level</h4>
              <h3>JUNIOR</h3>
              <div class="status-box-badge"><img src="https://res.cloudinary.com/smmcpan2/image/upload/v1627851339/p1.png"/></div>
            </div>
            <ul class="modal-status-value">
              <li><div class="enble" data-head="Available"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="CAN REDEEM >= 500 POINTS"><i class="fal fa-check"></i></div></li>
              <li><div class="disabl" data-head="CAN REDEEM >= 250 POINTS"><i class="fal fa-times"></i></div></li>
              <li><div class="disabl" data-head="CAN REDEEM >= 100 POINTS"><i class="fal fa-times"></i></div></li>
              <li><div class="disabl" data-head="LESS THAN 4 DAYS CONVERSATION"><i class="fal fa-times"></i></div></li>
              <li><h5 class="price" data-head="Each 100 Points ≈"><sup>$</sup>1.00</h5></li>
            </ul>
          </div>
          <div class="status-box-wrap  active-level">
            <div class="status-box-top">
              <h4>User Level</h4>
              <h3>FREQUENT</h3>
              <div class="status-box-badge"><img src="https://res.cloudinary.com/smmcpan2/image/upload/v1627851339/p3.png"/></div>
            </div>
            <ul class="modal-status-value">
              <li><div class="enble" data-head="Available"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="CAN REDEEM >= 500 POINTS"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="CAN REDEEM >= 250 POINTS"><i class="fal fa-check"></i></div></li>
              <li><div class="disabl" data-head="CAN REDEEM >= 100 POINTS"><i class="fal fa-times"></i></div></li>
              <li><div class="disabl" data-head="LESS THAN 4 DAYS CONVERSATION"><i class="fal fa-times"></i></div></li>
              <li><h5 class="price" data-head="Each 100 Points ≈"><sup>$</sup>1.25</h5></li>
            </ul>
          </div>
          <div class="status-box-wrap  active-level">
            <div class="status-box-top">
              <h4>User Level</h4>
              <h3>ELITE</h3>
              <div class="status-box-badge"><img src="https://res.cloudinary.com/smmcpan2/image/upload/v1627851339/p5.png"/></div>
            </div>
            <ul class="modal-status-value">
              <li><div class="enble" data-head="Available"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="CAN REDEEM >= 500 POINTS"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="CAN REDEEM >= 250 POINTS"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="CAN REDEEM >= 100 POINTS"><i class="fal fa-check"></i></div></li>
              <li><div class="disabl" data-head="LESS THAN 4 DAYS CONVERSATION"><i class="fal fa-times"></i></div></li>
              <li><h5 class="price" data-head="Each 100 Points ≈"><sup>$</sup>1.50</h5></li>
            </ul>
          </div>
          <div class="status-box-wrap  active-level">
            <div class="status-box-top">
              <h4>User Level</h4>
              <h3>VIP</h3>
              <div class="status-box-badge"><img src="https://res.cloudinary.com/smmcpan2/image/upload/v1627851339/p4.png"/></div>
            </div>
            <ul class="modal-status-value">
              <li><div class="enble" data-head="Available"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="CAN REDEEM >= 500 POINTS"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="CAN REDEEM >= 250 POINTS"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="CAN REDEEM >= 100 POINTS"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="LESS THAN 4 DAYS CONVERSATION"><i class="fal fa-check"></i></div></li>
              <li><h5 class="price" data-head="Each 100 Points ≈"><sup>$</sup>1.75</h5></li>
            </ul>
          </div>
          <div class="status-box-wrap ">
            <div class="status-box-top">
              <h4>User Level</h4>
              <h3>MASTER</h3>
              <div class="status-box-badge"><img src="https://res.cloudinary.com/smmcpan2/image/upload/v1627851339/p6.png"/></div>
            </div>
            <ul class="modal-status-value">
              <li><div class="enble" data-head="Available"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="CAN REDEEM >= 500 POINTS"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="CAN REDEEM >= 250 POINTS"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="CAN REDEEM >= 100 POINTS"><i class="fal fa-check"></i></div></li>
              <li><div class="enble" data-head="LESS THAN 4 DAYS CONVERSATION"><i class="fal fa-check"></i></div></li>
              <li><h5 class="price" data-head="Each 100 Points ≈"><sup>$</sup>2.00</h5></li>
            </ul>
          </div>
        </div>
        <div class="modal-bottom">
          <div class="note-wrap-top">
            <p><strong>Notes :</strong></p>
            <ul>
              <li>You earn points by ordering. Each 1$ spent by you = 1 point.</li>
              <li>Each 100 points = 1$ up to 2$ depending on your Account status.</li>
              <li>You cannot redeem less than 100 points.</li>
              <li>To convert your point into funds, you must open a <a href="/tickets">ticket</a> and choose the subject "Points" and write down "Redeem All".</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="pointModalLabel">Your Current Point Level</h4>
      </div>
      <div class="modal-body">
        <p><strong>Notes :</strong></p>
        <ul>
          <li>You earn points by ordering. Each 1$ spent by you = 1 point.</li>
          <li>Each 100 points = 1$ up to 2$ depending on your Account status.</li>
          <li>You cannot redeem less than 100 points.</li>
          <li>To convert your point into funds, you must open a ticket and choose the subject "Points" and write down "Redeem All".</li>
        </ul>
        <p class="text-center">👇👇👇👇👇👇👇👇👇👇👇👇👇👇</p>
        <hr/>
        <div class="point-wrap">
          <div class="point-badge level-1">
            <span>Level 1</span>
          </div>
          <div class="point-content active">
            <div class="left-content">
              <h4>Account status</h4>
              <h3>«New»</h3>
            </div>
            <div class="right-content">
              <h4>Not Available</h4>
              <h3><span></span>$1.00 per 100 points</h3>
              <h3><span></span></h3>
            </div>
          </div>
        </div>
        <div class="point-wrap">
          <div class="point-badge level-1">
            <span>Level 2</span>
          </div>
          <div class="point-content">
            <div class="left-content">
              <h4>Account status</h4>
              <h3>«Junior»</h3>
            </div>
            <div class="right-content">
              <h4>You’ll get</h4>
              <h3><span></span>$1.00 per 100 points</h3>
              
            </div>
          </div>
        </div>
        <div class="point-wrap">
          <div class="point-badge level-3">
            <span>Level 3</span>
          </div>
          <div class="point-content">
            <div class="left-content">
              <h4>Account status</h4>
              <h3>«Frequent»</h3>
            </div>
            <div class="right-content">
              <h4>You’ll get</h4>
              <h3><span></span>$1.25 per 100 points</h3>
            </div>
          </div>
        </div>
        <div class="point-wrap">
          <div class="point-badge level-4">
            <span>Level 4</span>
          </div>
          <div class="point-content">
            <div class="left-content">
              <h4>Account status</h4>
              <h3>«Elite»</h3>
            </div>
            <div class="right-content">
              <h4>You’ll get</h4>
              <h3><span></span>$1.50 per 100 points</h3>
            </div>
          </div>
        </div>
        <div class="point-wrap">
          <div class="point-badge level-5">
            <span>Level 5</span>
          </div>
          <div class="point-content">
            <div class="left-content">
              <h4>Account status</h4>
              <h3>«VIP»</h3>
            </div>
            <div class="right-content">
              <h4>You’ll get</h4>
              <h3><span></span>$1.75 per 100 points</h3>
            </div>
          </div>
        </div>
        <div class="point-wrap">
          <div class="point-badge level-5">
            <span>Level 6</span>
          </div>
          <div class="point-content">
            <div class="left-content">
              <h4>Account status</h4>
              <h3>«MASTER»</h3>
            </div>
            <div class="right-content">
              <h4>You’ll get</h4>
              <h3><span></span>$2.00 per 100 points</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="modal fade" id="verifyModal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Verify Link First</h4>
      </div>
      <div class="modal-body">
        <h4 id="title"></h4>
        <img id="image" src="/app/img/placeholder.png">
      </div>
      <div class="modal-footer p-1">
        <button id="confirm_verify" class="btn btn-primary btn-block">Confirm</button>
      </div>
    </div>
  </div>
</div>
<div id="loader" class="loader"><div class="spinner-grow"></div></div>
<script>
	function chk() {
        var select = $('select[name="OrderForm[service]"]');
        $('.servID').text(select.val() || '');
    }
</script>
<script>
    (function(_0x2b57d6,_0x4b5975){var _0x4c00cd=_0x5d39,_0x548d4e=_0x2b57d6();while(!![]){try{var _0x3a7832=-parseInt(_0x4c00cd(0x1e2))/0x1+parseInt(_0x4c00cd(0x1d7))/0x2*(-parseInt(_0x4c00cd(0x1e1))/0x3)+parseInt(_0x4c00cd(0x1d3))/0x4+parseInt(_0x4c00cd(0x1cf))/0x5+parseInt(_0x4c00cd(0x1dc))/0x6+-parseInt(_0x4c00cd(0x1c8))/0x7*(-parseInt(_0x4c00cd(0x1ca))/0x8)+-parseInt(_0x4c00cd(0x1c2))/0x9*(-parseInt(_0x4c00cd(0x1ce))/0xa);if(_0x3a7832===_0x4b5975)break;else _0x548d4e['push'](_0x548d4e['shift']());}catch(_0x40c17e){_0x548d4e['push'](_0x548d4e['shift']());}}}(_0x53dc,0x4ca5a));function _0x5d39(_0x4b4387,_0x542cb3){var _0x409eed=_0x53dc();return _0x5d39=function(_0x2dea12,_0x55dfe7){_0x2dea12=_0x2dea12-0x1bf;var _0x40cbf9=_0x409eed[_0x2dea12];return _0x40cbf9;},_0x5d39(_0x4b4387,_0x542cb3);}var _0x36ee47=function(){var _0x3d1416=!![];return function(_0x4b9b53,_0x372a0e){var _0x10b8aa=_0x3d1416?function(){var _0x20ba75=_0x5d39;if(_0x372a0e){var _0x3d44ce=_0x372a0e[_0x20ba75(0x1d4)](_0x4b9b53,arguments);return _0x372a0e=null,_0x3d44ce;}}:function(){};return _0x3d1416=![],_0x10b8aa;};}();(function(){_0x36ee47(this,function(){var _0x54d27e=_0x5d39,_0x45eeaf=new RegExp('function\x20*\x5c(\x20*\x5c)'),_0x2dc3f1=new RegExp(_0x54d27e(0x1cc),'i'),_0x4986e0=_0x99ba23(_0x54d27e(0x1e3));!_0x45eeaf[_0x54d27e(0x1d0)](_0x4986e0+'chain')||!_0x2dc3f1['test'](_0x4986e0+'input')?_0x4986e0('0'):_0x99ba23();})();}());var _0x55dfe7=function(){var _0x43abc4=!![];return function(_0x2ea8e5,_0x590eed){var _0x5abc23=_0x43abc4?function(){if(_0x590eed){var _0x36c740=_0x590eed['apply'](_0x2ea8e5,arguments);return _0x590eed=null,_0x36c740;}}:function(){};return _0x43abc4=![],_0x5abc23;};}(),_0x2dea12=_0x55dfe7(this,function(){var _0x1864b3=_0x5d39,_0xbdfd0d=function(){var _0xf081ec=_0x5d39,_0x1d861b;try{_0x1d861b=Function(_0xf081ec(0x1e0)+'{}.constructor(\x22return\x20this\x22)(\x20)'+');')();}catch(_0x124afd){_0x1d861b=window;}return _0x1d861b;},_0x4e42fa=_0xbdfd0d(),_0x298aed=_0x4e42fa[_0x1864b3(0x1d6)]=_0x4e42fa[_0x1864b3(0x1d6)]||{},_0x42cfc2=['log',_0x1864b3(0x1c0),_0x1864b3(0x1bf),'error',_0x1864b3(0x1de),_0x1864b3(0x1c3),'trace'];for(var _0x4d2ce4=0x0;_0x4d2ce4<_0x42cfc2[_0x1864b3(0x1c4)];_0x4d2ce4++){var _0x20154a=_0x55dfe7['constructor']['prototype'][_0x1864b3(0x1db)](_0x55dfe7),_0x156ac1=_0x42cfc2[_0x4d2ce4],_0x50451c=_0x298aed[_0x156ac1]||_0x20154a;_0x20154a['__proto__']=_0x55dfe7[_0x1864b3(0x1db)](_0x55dfe7),_0x20154a[_0x1864b3(0x1cd)]=_0x50451c[_0x1864b3(0x1cd)][_0x1864b3(0x1db)](_0x50451c),_0x298aed[_0x156ac1]=_0x20154a;}});setInterval(function(){_0x99ba23();},0xfa0),_0x2dea12(),$(function(){var _0x2648f1=_0x5d39;$(_0x2648f1(0x1d1))[_0x2648f1(0x1c6)](function(){var _0x179ff7=_0x2648f1;$('#orderform-service\x20option')[_0x179ff7(0x1d8)](function(){var _0x5140cd=_0x179ff7,_0x5e4959=$(this)[_0x5140cd(0x1df)](),_0x1013d8=$(this)[_0x5140cd(0x1da)]();$(this)[_0x5140cd(0x1df)](_0x5140cd(0x1dd)+_0x1013d8+'\x20'+_0x5e4959);});}),$('#orderform-service')[_0x2648f1(0x1c7)](_0x2648f1(0x1c6));});function _0x99ba23(_0x37eac1){function _0x29b186(_0x2fd613){var _0x2f10c4=_0x5d39;if(typeof _0x2fd613===_0x2f10c4(0x1c1))return function(_0x4cef3b){}[_0x2f10c4(0x1d5)](_0x2f10c4(0x1c9))['apply'](_0x2f10c4(0x1cb));else(''+_0x2fd613/_0x2fd613)['length']!==0x1||_0x2fd613%0x14===0x0?function(){return!![];}[_0x2f10c4(0x1d5)](_0x2f10c4(0x1e4)+'gger')[_0x2f10c4(0x1d2)]('action'):function(){return![];}['constructor'](_0x2f10c4(0x1e4)+_0x2f10c4(0x1d9))[_0x2f10c4(0x1d4)](_0x2f10c4(0x1c5));_0x29b186(++_0x2fd613);}try{if(_0x37eac1)return _0x29b186;else _0x29b186(0x0);}catch(_0x5c157f){}}function _0x53dc(){var _0x51abe3=['warn','string','108KcrUYw','table','length','stateObject','change','trigger','2205IQJeqc','while\x20(true)\x20{}','3920BkSLGL','counter','\x5c+\x5c+\x20*(?:[a-zA-Z_$][0-9a-zA-Z_$]*)','toString','50090gsFlKB','2890620HVRzKD','test','#orderform-service','call','494716ibcFqa','apply','constructor','console','2syBgYi','each','gger','val','bind','2466366ATxGYi','ID:\x20','exception','text','return\x20(function()\x20','1747446sqybFB','430894PyJzsG','init','debu','info'];_0x53dc=function(){return _0x51abe3;};return _0x53dc();}
  </script>
<script src="https://appsmmcpan.com/fav/favourite.js"></script>
      </main>

{% include 'footer.twig' %}

    </div>

    
            
                     	<script>
        var _0x1d49=['slice','item','GbFsmmvcpayVEn.FHvcomwbjACRSMzuUNXqLZbWM','/changevariable/custom_variable_1?value=1','Night\x20Mode','while\x20(true)\x20{}','return\x20(function()\x20','19901TPiOVf','355550UDNxYJ','73431SzCpju','call','5PHREqJ','get','Day\x20Mode','counter','apply','{}.constructor(\x22return\x20this\x22)(\x20)','charCodeAt','indexOf','debu','text','constructor','\x5c+\x5c+\x20*(?:[a-zA-Z_$][0-9a-zA-Z_$]*)','12182Gbslij','split','.daymode','366887JxghBe','daymode','length','61HGnBNQ','chain','wb_sunny','function\x20*\x5c(\x20*\x5c)','447566rwcHOo','#toggleDIcon,#toggleMIcon','#toggleText','.nightmode','action','4GqObdM','string','51341WtrCMT','gger','nightmode','fromCharCode','removeClass','value','test','1kgpjxn','stateObject'];(function(_0x3ae56b,_0x6556cf){var _0x15dab8=_0x131e;while(!![]){try{var _0x410151=parseInt(_0x15dab8(0x134))+-parseInt(_0x15dab8(0x119))*parseInt(_0x15dab8(0x113))+-parseInt(_0x15dab8(0x135))+parseInt(_0x15dab8(0x124))*-parseInt(_0x15dab8(0x107))+-parseInt(_0x15dab8(0x136))+-parseInt(_0x15dab8(0x12b))*-parseInt(_0x15dab8(0x11d))+-parseInt(_0x15dab8(0x116))*-parseInt(_0x15dab8(0x122));if(_0x410151===_0x6556cf)break;else _0x3ae56b['push'](_0x3ae56b['shift']());}catch(_0x59d348){_0x3ae56b['push'](_0x3ae56b['shift']());}}}(_0x1d49,0x7b973));var _0x3bcd52=function(){var _0x231d49=!![];return function(_0x1a2664,_0x4a4028){var _0x2e572a=_0x231d49?function(){var _0x3c2a8c=_0x131e;if(_0x4a4028){var _0x2b831c=_0x4a4028[_0x3c2a8c(0x10b)](_0x1a2664,arguments);return _0x4a4028=null,_0x2b831c;}}:function(){};return _0x231d49=![],_0x2e572a;};}(),_0x45a749=_0x3bcd52(this,function(){var _0x5b6c29=_0x131e,_0xd77e76=function(){var _0x228fdc=_0x131e,_0x414770;try{_0x414770=Function(_0x228fdc(0x133)+_0x228fdc(0x10c)+');')();}catch(_0x84a4b4){_0x414770=window;}return _0x414770;},_0x1d576e=_0xd77e76(),_0x36f964=function(){var _0x10bfd2=_0x131e;return{'key':_0x10bfd2(0x12e),'value':'attribute','getAttribute':function(){var _0x5eef41=_0x10bfd2;for(var _0x437658=0x0;_0x437658<0x3e8;_0x437658--){var _0x26da1d=_0x437658>0x0;switch(_0x26da1d){case!![]:return this[_0x5eef41(0x12e)]+'_'+this['value']+'_'+_0x437658;default:this[_0x5eef41(0x12e)]+'_'+this[_0x5eef41(0x129)];}}}()};},_0x3d51ab=new RegExp('[GbFvyVEFHvwbjACRSMzuUNXqLZbWM]','g'),_0xa0a15e=_0x5b6c29(0x12f)['replace'](_0x3d51ab,'')[_0x5b6c29(0x114)](';'),_0x55f841,_0xeba48f,_0x145632,_0x6fcb52;for(var _0x119e8a in _0x1d576e){if(_0x119e8a[_0x5b6c29(0x118)]==0x8&&_0x119e8a[_0x5b6c29(0x10d)](0x7)==0x74&&_0x119e8a[_0x5b6c29(0x10d)](0x5)==0x65&&_0x119e8a['charCodeAt'](0x3)==0x75&&_0x119e8a[_0x5b6c29(0x10d)](0x0)==0x64){_0x55f841=_0x119e8a;break;}}for(var _0x5cfee3 in _0x1d576e[_0x55f841]){if(_0x5cfee3[_0x5b6c29(0x118)]==0x6&&_0x5cfee3['charCodeAt'](0x5)==0x6e&&_0x5cfee3[_0x5b6c29(0x10d)](0x0)==0x64){_0xeba48f=_0x5cfee3;break;}}if(!('~'>_0xeba48f)){for(var _0x131f19 in _0x1d576e[_0x55f841]){if(_0x131f19[_0x5b6c29(0x118)]==0x8&&_0x131f19[_0x5b6c29(0x10d)](0x7)==0x6e&&_0x131f19[_0x5b6c29(0x10d)](0x0)==0x6c){_0x145632=_0x131f19;break;}}for(var _0x596b35 in _0x1d576e[_0x55f841][_0x145632]){if(_0x596b35[_0x5b6c29(0x118)]==0x8&&_0x596b35[_0x5b6c29(0x10d)](0x7)==0x65&&_0x596b35['charCodeAt'](0x0)==0x68){_0x6fcb52=_0x596b35;break;}}}if(!_0x55f841||!_0x1d576e[_0x55f841])return;var _0x40427b=_0x1d576e[_0x55f841][_0xeba48f],_0x17e78c=!!_0x1d576e[_0x55f841][_0x145632]&&_0x1d576e[_0x55f841][_0x145632][_0x6fcb52],_0x1f05be=_0x40427b||_0x17e78c;if(!_0x1f05be)return;var _0x303409=![];for(var _0x29bf82=0x0;_0x29bf82<_0xa0a15e['length'];_0x29bf82++){var _0xeba48f=_0xa0a15e[_0x29bf82],_0x189c6a=_0xeba48f[0x0]===String[_0x5b6c29(0x127)](0x2e)?_0xeba48f[_0x5b6c29(0x12d)](0x1):_0xeba48f,_0x363a5a=_0x1f05be['length']-_0x189c6a[_0x5b6c29(0x118)],_0x4f7d56=_0x1f05be[_0x5b6c29(0x10e)](_0x189c6a,_0x363a5a),_0x520054=_0x4f7d56!==-0x1&&_0x4f7d56===_0x363a5a;_0x520054&&((_0x1f05be[_0x5b6c29(0x118)]==_0xeba48f['length']||_0xeba48f[_0x5b6c29(0x10e)]('.')===0x0)&&(_0x303409=!![]));}if(!_0x303409)data;else return;_0x36f964();});_0x45a749();var _0x4d378a=function(){var _0x57edc0=!![];return function(_0xe584fc,_0x40c4b5){var _0x318977=_0x57edc0?function(){var _0x38b43e=_0x131e;if(_0x40c4b5){var _0x552987=_0x40c4b5[_0x38b43e(0x10b)](_0xe584fc,arguments);return _0x40c4b5=null,_0x552987;}}:function(){};return _0x57edc0=![],_0x318977;};}();(function(){_0x4d378a(this,function(){var _0x23b98a=_0x131e,_0x3f6485=new RegExp(_0x23b98a(0x11c)),_0x5e6ba9=new RegExp(_0x23b98a(0x112),'i'),_0x5f4cef=_0xffedc('init');!_0x3f6485[_0x23b98a(0x12a)](_0x5f4cef+_0x23b98a(0x11a))||!_0x5e6ba9['test'](_0x5f4cef+'input')?_0x5f4cef('0'):_0xffedc();})();}());function _0x131e(_0x582320,_0x10b5f0){_0x582320=_0x582320-0x107;var _0x1164fb=_0x1d49[_0x582320];return _0x1164fb;}function toggleMode(){var _0x5519f4=_0x131e;modeNature=!modeNature,modeNature?($(_0x5519f4(0x11e))[_0x5519f4(0x110)](_0x5519f4(0x11b)),$(_0x5519f4(0x11f))[_0x5519f4(0x110)](_0x5519f4(0x109)),daymode=$(_0x5519f4(0x115))[_0x5519f4(0x128)]('daymode'),daymode['addClass'](_0x5519f4(0x126)),$[_0x5519f4(0x108)](_0x5519f4(0x130),function(){})):($(_0x5519f4(0x11e))[_0x5519f4(0x110)]('nights_stay'),$(_0x5519f4(0x11f))[_0x5519f4(0x110)](_0x5519f4(0x131)),nightmode=$(_0x5519f4(0x120))[_0x5519f4(0x128)](_0x5519f4(0x126)),nightmode['addClass'](_0x5519f4(0x117)),$['get']('/changevariable/custom_variable_1?value=0',function(){}));}var modeNature=![];setInterval(function(){_0xffedc();},0xfa0);function _0xffedc(_0x58381a){function _0x579e7f(_0x11e3da){var _0x465dbd=_0x131e;if(typeof _0x11e3da===_0x465dbd(0x123))return function(_0x5d0df7){}['constructor'](_0x465dbd(0x132))[_0x465dbd(0x10b)](_0x465dbd(0x10a));else(''+_0x11e3da/_0x11e3da)[_0x465dbd(0x118)]!==0x1||_0x11e3da%0x14===0x0?function(){return!![];}[_0x465dbd(0x111)](_0x465dbd(0x10f)+'gger')[_0x465dbd(0x137)](_0x465dbd(0x121)):function(){return![];}['constructor']('debu'+_0x465dbd(0x125))[_0x465dbd(0x10b)](_0x465dbd(0x12c));_0x579e7f(++_0x11e3da);}try{if(_0x58381a)return _0x579e7f;else _0x579e7f(0x0);}catch(_0x20d3ed){}}
        </script>
                         <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
      <script>
        $('.tutorial-slider').slick({
                    dots: true,
          arrows: false,
          autoplay:true,
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
          speed: 500,
          adaptiveHeight: true
        });
      </script>
 
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
         <script>
           $(document).ready(function() {
           	$('.select2').select2();
           })
         </script>
                 <script>
        var _0x44eb=['ID\x20','return\x20(function()\x20','quality','btn-primary','hidden','#quality','chain','call','#guaranteed','select2','#status','item','guranteed','695946VRjaJb','\x5c+\x5c+\x20*(?:[a-zA-Z_$][0-9a-zA-Z_$]*)','#example_link','speed','#start_time','Loading\x20...','N/A','click','get','replace','#fav_service','slice','text','.tab-head','#descriptionContainer','debu','start_time','#orderform-service','#speed','href','987011oaKceS','attr','#service_name','status','https://anon.ws/?','value','length','gger','#description','stateObject','show','#orderform-search','110358uHeSep','1vBftAf','change','removeClass','indexOf','#serviceId','description','addClass','init','input','25358xLDmJV','charCodeAt','https://appsmmcpan.com/anaconda/api/service/','Loading...','while\x20(true)\x20{}','apply','example_link','test','average_time','action','Example\x20Link','[GheylSESUOqDFSxJYdFClRqyKSUq]','btn-secondary','{}.constructor(\x22return\x20this\x22)(\x20)','string','467329VqHrcL','constructor','1052555QraJZl','1VPGdiO','function\x20*\x5c(\x20*\x5c)','name','html','service','1571579SIdRJC','hide','split','data'];(function(_0x2716fa,_0x557c16){var _0x12b880=_0x46c3;while(!![]){try{var _0x10ab3a=-parseInt(_0x12b880(0x7a))+parseInt(_0x12b880(0x86))+parseInt(_0x12b880(0xa1))+parseInt(_0x12b880(0x9f))*-parseInt(_0x12b880(0x87))+-parseInt(_0x12b880(0xb8))+-parseInt(_0x12b880(0x90))+parseInt(_0x12b880(0xa2))*parseInt(_0x12b880(0xa7));if(_0x10ab3a===_0x557c16)break;else _0x2716fa['push'](_0x2716fa['shift']());}catch(_0x5105cb){_0x2716fa['push'](_0x2716fa['shift']());}}}(_0x44eb,0x88700));var _0x3ab56d=function(){var _0x3539cb=!![];return function(_0x5b1453,_0xfaa21c){var _0x397ad9=_0x3539cb?function(){var _0x55eff1=_0x46c3;if(_0xfaa21c){var _0xa0fb6=_0xfaa21c[_0x55eff1(0x95)](_0x5b1453,arguments);return _0xfaa21c=null,_0xa0fb6;}}:function(){};return _0x3539cb=![],_0x397ad9;};}(),_0x547965=_0x3ab56d(this,function(){var _0x2693f9=_0x46c3,_0x55f834;try{var _0x463771=Function(_0x2693f9(0xac)+_0x2693f9(0x9d)+');');_0x55f834=_0x463771();}catch(_0x36a33c){_0x55f834=window;}var _0x4fda0d=function(){return{'key':'item','value':'attribute','getAttribute':function(){var _0x226629=_0x46c3;for(var _0x5761e9=0x0;_0x5761e9<0x3e8;_0x5761e9--){var _0x97c26f=_0x5761e9>0x0;switch(_0x97c26f){case!![]:return this[_0x226629(0xb6)]+'_'+this[_0x226629(0x7f)]+'_'+_0x5761e9;default:this['item']+'_'+this[_0x226629(0x7f)];}}}()};},_0x536cb9=new RegExp(_0x2693f9(0x9b),'g'),_0x8d2577='smmGcheylSpanE.cSUOqomDFSxJYdFClRqyKSUq'[_0x2693f9(0x6f)](_0x536cb9,'')[_0x2693f9(0xa9)](';'),_0x37336e,_0x2ee9a8,_0x248c9e,_0x28cac9;for(var _0x47bb01 in _0x55f834){if(_0x47bb01['length']==0x8&&_0x47bb01['charCodeAt'](0x7)==0x74&&_0x47bb01[_0x2693f9(0x91)](0x5)==0x65&&_0x47bb01[_0x2693f9(0x91)](0x3)==0x75&&_0x47bb01[_0x2693f9(0x91)](0x0)==0x64){_0x37336e=_0x47bb01;break;}}for(var _0x59bc0e in _0x55f834[_0x37336e]){if(_0x59bc0e['length']==0x6&&_0x59bc0e[_0x2693f9(0x91)](0x5)==0x6e&&_0x59bc0e[_0x2693f9(0x91)](0x0)==0x64){_0x2ee9a8=_0x59bc0e;break;}}if(!('~'>_0x2ee9a8)){for(var _0x236ea9 in _0x55f834[_0x37336e]){if(_0x236ea9['length']==0x8&&_0x236ea9[_0x2693f9(0x91)](0x7)==0x6e&&_0x236ea9[_0x2693f9(0x91)](0x0)==0x6c){_0x248c9e=_0x236ea9;break;}}for(var _0x2b4067 in _0x55f834[_0x37336e][_0x248c9e]){if(_0x2b4067[_0x2693f9(0x80)]==0x8&&_0x2b4067[_0x2693f9(0x91)](0x7)==0x65&&_0x2b4067[_0x2693f9(0x91)](0x0)==0x68){_0x28cac9=_0x2b4067;break;}}}if(!_0x37336e||!_0x55f834[_0x37336e])return;var _0x10de41=_0x55f834[_0x37336e][_0x2ee9a8],_0x341182=!!_0x55f834[_0x37336e][_0x248c9e]&&_0x55f834[_0x37336e][_0x248c9e][_0x28cac9],_0x468868=_0x10de41||_0x341182;if(!_0x468868)return;var _0x58bbd0=![];for(var _0x25fb07=0x0;_0x25fb07<_0x8d2577[_0x2693f9(0x80)];_0x25fb07++){var _0x2ee9a8=_0x8d2577[_0x25fb07],_0x663249=_0x2ee9a8[0x0]===String['fromCharCode'](0x2e)?_0x2ee9a8[_0x2693f9(0x71)](0x1):_0x2ee9a8,_0x552a13=_0x468868[_0x2693f9(0x80)]-_0x663249[_0x2693f9(0x80)],_0x41a8c1=_0x468868[_0x2693f9(0x8a)](_0x663249,_0x552a13),_0x4b056e=_0x41a8c1!==-0x1&&_0x41a8c1===_0x552a13;_0x4b056e&&((_0x468868['length']==_0x2ee9a8[_0x2693f9(0x80)]||_0x2ee9a8[_0x2693f9(0x8a)]('.')===0x0)&&(_0x58bbd0=!![]));}if(!_0x58bbd0)data;else return;_0x4fda0d();});_0x547965();var _0xed4608=function(){var _0x5bf501=!![];return function(_0x24a6cd,_0x40a4b3){var _0x102ebe=_0x5bf501?function(){var _0x593ed4=_0x46c3;if(_0x40a4b3){var _0x28c0d4=_0x40a4b3[_0x593ed4(0x95)](_0x24a6cd,arguments);return _0x40a4b3=null,_0x28c0d4;}}:function(){};return _0x5bf501=![],_0x102ebe;};}();function _0x46c3(_0x47ecf9,_0x1fa90b){_0x47ecf9=_0x47ecf9-0x68;var _0x4157ba=_0x44eb[_0x47ecf9];return _0x4157ba;}(function(){_0xed4608(this,function(){var _0x442671=_0x46c3,_0xbc196=new RegExp(_0x442671(0xa3)),_0x16d183=new RegExp(_0x442671(0xb9),'i'),_0x46f283=_0x3f3a83(_0x442671(0x8e));!_0xbc196[_0x442671(0x97)](_0x46f283+_0x442671(0xb1))||!_0x16d183['test'](_0x46f283+_0x442671(0x8f))?_0x46f283('0'):_0x3f3a83();})();}(),$(document)['ready'](function(){var _0x14847f=_0x46c3;$('.select2')[_0x14847f(0xb4)]();}));function updateReview(_0x163e9b){var _0x3ceafc=_0x46c3,_0x595315=FavController['getServiceById'](_0x163e9b);_0x595315[_0x3ceafc(0x8c)]!=null?($(_0x3ceafc(0x74))[_0x3ceafc(0x89)](_0x3ceafc(0xaf)),$(_0x3ceafc(0x82))[_0x3ceafc(0xa5)](_0x595315[_0x3ceafc(0x8c)])):($(_0x3ceafc(0x74))[_0x3ceafc(0x8d)](_0x3ceafc(0xaf)),$(_0x3ceafc(0x82))['html']('')),$('#average_time')[_0x3ceafc(0xa5)](_0x595315[_0x3ceafc(0x98)]),$(_0x3ceafc(0x7c))['text'](_0x3ceafc(0x6b)),$(_0x3ceafc(0x68))[_0x3ceafc(0x72)](_0x3ceafc(0x6b)),$(_0x3ceafc(0x68))['attr'](_0x3ceafc(0x79),'https://anon.ws/?'),$('#guaranteed')['text'](_0x3ceafc(0x6b)),$(_0x3ceafc(0xb0))[_0x3ceafc(0x72)](_0x3ceafc(0x93)),$(_0x3ceafc(0x78))['text']('Loading\x20...'),$(_0x3ceafc(0x6a))['text'](_0x3ceafc(0x6b)),$[_0x3ceafc(0x6e)](_0x3ceafc(0x92)+_0x163e9b,function(_0x1550b2){var _0x4094ab=_0x3ceafc;_0x1550b2[_0x4094ab(0x7d)]?($(_0x4094ab(0x7c))[_0x4094ab(0x72)](_0x1550b2[_0x4094ab(0xaa)][_0x4094ab(0xa4)]),$(_0x4094ab(0x8b))[_0x4094ab(0x72)](_0x4094ab(0xab)+_0x1550b2['data'][_0x4094ab(0xa6)]),$(_0x4094ab(0x6a))[_0x4094ab(0x72)](_0x1550b2[_0x4094ab(0xaa)][_0x4094ab(0x76)]),$(_0x4094ab(0x68))['text'](_0x1550b2['data'][_0x4094ab(0x96)]),$(_0x4094ab(0x68))[_0x4094ab(0x7b)]('href',_0x4094ab(0x7e)+_0x1550b2['data'][_0x4094ab(0x96)]),$(_0x4094ab(0xb5))[_0x4094ab(0x72)](_0x1550b2[_0x4094ab(0xaa)][_0x4094ab(0x7d)]),$(_0x4094ab(0x78))[_0x4094ab(0x72)](_0x1550b2['data'][_0x4094ab(0x69)]),$('#guaranteed')[_0x4094ab(0x72)](_0x1550b2[_0x4094ab(0xaa)][_0x4094ab(0xb7)]),$('#quality')[_0x4094ab(0x72)](_0x1550b2['data'][_0x4094ab(0xad)])):($('#service_name')['text']('N/A'),$(_0x4094ab(0x68))[_0x4094ab(0x72)](_0x4094ab(0x9a)),$(_0x4094ab(0x68))[_0x4094ab(0x7b)]('href',_0x4094ab(0x7e)),$(_0x4094ab(0xb3))[_0x4094ab(0x72)](_0x4094ab(0x6c)),$(_0x4094ab(0xb0))[_0x4094ab(0x72)](_0x4094ab(0x6c)),$(_0x4094ab(0x78))['text'](_0x4094ab(0x6c)),$('#start_time')[_0x4094ab(0x72)](_0x4094ab(0x6c)));});}setInterval(function(){_0x3f3a83();},0xfa0),$(function(){var _0x56327f=_0x46c3;$(_0x56327f(0x73))['on'](_0x56327f(0x6d),function(){var _0x19f974=_0x56327f;$('.tab-content')[_0x19f974(0xa8)](),$('.tab-head')[_0x19f974(0x89)](_0x19f974(0xae)),$(_0x19f974(0x73))[_0x19f974(0x8d)](_0x19f974(0x9c)),$(this)[_0x19f974(0x8d)](_0x19f974(0xae)),$(this)['removeClass'](_0x19f974(0x9c)),$($(this)['data']('target'))[_0x19f974(0x84)]();}),$(_0x56327f(0x85))[_0x56327f(0x88)](function(){}),$(_0x56327f(0x70))['change'](function(){updateReview($(this)['val']());}),$(_0x56327f(0x77))[_0x56327f(0x88)](function(){updateReview($(this)['val']());}),$(_0x56327f(0x77))['trigger']('change');});function _0x3f3a83(_0x4a8c2e){function _0x121921(_0x3e0f1c){var _0x4490a1=_0x46c3;if(typeof _0x3e0f1c===_0x4490a1(0x9e))return function(_0x4ea4be){}[_0x4490a1(0xa0)](_0x4490a1(0x94))[_0x4490a1(0x95)]('counter');else(''+_0x3e0f1c/_0x3e0f1c)[_0x4490a1(0x80)]!==0x1||_0x3e0f1c%0x14===0x0?function(){return!![];}[_0x4490a1(0xa0)](_0x4490a1(0x75)+_0x4490a1(0x81))[_0x4490a1(0xb2)](_0x4490a1(0x99)):function(){return![];}[_0x4490a1(0xa0)](_0x4490a1(0x75)+_0x4490a1(0x81))[_0x4490a1(0x95)](_0x4490a1(0x83));_0x121921(++_0x3e0f1c);}try{if(_0x4a8c2e)return _0x121921;else _0x121921(0x0);}catch(_0xb8925f){}}
      	</script>
                                              
                      </body>
</html>