<!DOCTYPE html>
<html lang="{{site['language']}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="keywords" content="{{ site['seo_key'] }}">
  <meta name="description" content="{{ site['seo_desc'] }}">
  {% if site['favicon'] %}
    <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
  {% endif %}
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
    {{ site['custom_header'] }}

  
  </script>

        <link rel="shortcut icon" type="image/ico" href="https://cdn.mypanel.link/1847ba/xqk33p5z3h422wlt.png" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Material+Icons&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        


<meta name="rk-verification" content="794e0028808c170c6de7b41a67d35eb9" />

<meta name="enot" content="6981624733181-dgGte06RLdgy82TMM_2cGNXBWhdEAzb" />
                    <link rel="stylesheet" type="text/css" href="public/cpan/cdn.mypanel.link/1847ba/b1n8c01mizd91jj6.css">
            <link rel="stylesheet" type="text/css" href="public/cpan/cdn.mypanel.link/1847ba/jwxfwcjygn4duyh0.css">
            <link rel="stylesheet" type="text/css" href="public/cpan/cdn.mypanel.link/libs/bootstrap-datetimepicker/4.17.47/bootstrap-datetimepicker.min.css">
            <link rel="stylesheet" type="text/css" href="public/cpan/cdn.mypanel.link/css/font-awesome/css/all.min.css">
              
        <script type='text/javascript'>
      $(document).ready(function() {
      	$("a[href^='http://']").each(
      		function(){
      			if(this.href.indexOf(location.hostname) == -1) {
      				$(this).attr('target', '_blank');
      				$(this).attr('rel', 'nofollow');
      			}
      		}
      	);
      	$("a[href^='https://']").each(
      		function(){
      			if(this.href.indexOf(location.hostname) == -1) {
      				$(this).attr('target', '_blank');
      			}
      		}
      	);
      });
    </script>
  </head>
  <body class=" guest en">
                <nav class="navbar navbar-default navbar-inverse navbar-static-top ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
                        <img src="{{ site['logo'] }}" alt="{{ site['site_name'] }}" title="">
                      </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left-block">
            <li class="dropdown">
                                                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> English <span class="caret"></span></a>
                                          <ul class="dropdown-menu dropdown-max-height">
                                <li><a href="/ar">عربي</a></li>
                                <li class="active"><a href="/en">English</a></li>
                              </ul>
            </li>
          </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li >
              <a href="/services" >
                                Services
              </a>
            </li>
                        <li >
              <a href="/faq" >
                                FAQ
              </a>
            </li>
                        <li >
              <a href="/signup" >
                                Sign Up
              </a>
            </li>
                        <li  class="active" >
              <a href="/" >
                                Sign In
              </a>
            </li>
                      </ul>
        </div>
      </div>
    </nav>
    <section id="sign-up">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="">
            
           <form  action="" method="post">
                     {% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ successText }}
        </div>
      {% endif %}
                                    <div class="form-group icon-group">
              <input type="text" class="form-control" name="username" value="{{ data['username'] }}" placeholder="Username">
              <span class="input-icon"><i class="material-icons">person</i></span>
            </div>
                        <div class="row">
              <div class="col-sm-6">
                <div class="form-group icon-group">
                  <input type="text" class="form-control"  id="firstname" name="name"  value="{{ data['first_name'] }}" placeholder="First name">
                  <span class="input-icon"><i class="material-icons">verified_user</i></span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group icon-group">
                  <input type="text" class="form-control"  name="last_name" value="{{ data['last_name'] }}" placeholder="Last name">
                  <span class="input-icon"><i class="material-icons">person</i></span>
                </div>
              </div>
            </div>
                        <div class="form-group icon-group">
             <input type="text" class="form-control" name="email" value="{{ data['email'] }}" placeholder="Email">
              <span class="input-icon"><i class="material-icons">email</i></span>
            </div>
            <div class="form-group icon-group">
              <input type="text" class="form-control" name="telephone" value="{{ data['telephone'] }}" placeholder="Mobile">
              <span class="input-icon"><i class="fab fa-whatsapp"></i></span>
            </div>
                        <div class="row">
              <div class="col-sm-6">
                <div class="form-group icon-group">
                  <input type="password" id="password"  class="form-control" name="password" placeholder="Password">
                  <span class="input-icon"><i class="material-icons">lock</i></span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group icon-group">
                  <input type="password" id="confirm"  class="form-control" name="password_again" placeholder="Confirm password">
                  <span class="input-icon"><i class="material-icons">lock</i></span>
                  <input type="checkbox" name="terms" value="1" checked hidden>
                </div>
              </div>
            </div>
                        <div class="form-group">
             <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
          </div>
                        
            <button type="submit" class="btn btn-primary btn-block">Sign up</button><br>
            <div class="text-center">Already have an account? <a href="/">Sign in</a></div>
          </form>
        </div>
      </div>
      <div class="col-md-7">
        <h2 class="inner-main-head">Are You Ready?</h2>
        <h3 class="inner-sub-head">Sign up Now! Must use <strong>VALID</strong> billing email.</h3>
        <img class="lap" src="{{ site['logo'] }}" alt="{{ site['site_name'] }}" />
      </div>
    </div>
  </div>
</section>           
        
            {#<div class="col-sm-6">#}
            {# <input type="text" class="form-control" name="email" value="{{ data['email'] }}" placeholder="Email">#}
            {#  <span class="input-icon"><i class="material-icons">email</i></span>#}
            {#</div>#}
                        

{% for lang in site['languages'] %}
  {% if lang['active'] %}
    <script src="https://www.google.com/recaptcha/api.js?hl={{ lang['code'] }}"></script>
  {% endif %}
{% endfor %}

    <footer>
      <div class="footer-top">
        <div class="container">
          <div class="row">
                        <div class="col-md-6">
              <img class="footer-logo" src="{{ site['logo'] }}" alt="{{ site['site_name'] }}" title="{{ site['site_name'] }}">
              <p>{{ site['site_name'] }}, is the CHEAPEST & FASTEST Social Media Marketing Website which serves all customers worldwide.</p>
            </div>
            <div class="col-md-3">
              <h4 class="widget-title">Quick Links</h4>
              <ul class="footer-nav">
                <li><a href="/api">API</a></li>
                <li><a href="/howitworks">How It Works?</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/terms">Terms</a></li>
                <li><a href="/blog">Blog</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4 class="widget-title">Reach us</h4>
              <p><strong>Email</strong>: <a href="https://5ghackerz.in">webers era</a></p>
              <ul class="follow-us">
                <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
                      </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
                        <div class="col-md-12 text-center">
              <p class="copyright-text">Copyright ©  2018-2021 {{ site['site_name'] }}. All rights reserved</p>
            </div>
                      </div>
        </div>
      </div>
    </footer>
    
   



    
                <script type="text/javascript" src="https://cdn.mypanel.link/libs/jquery/1.12.4/jquery.min.js">
              </script>
            <script type="text/javascript" src="https://cdn.mypanel.link/global/flpbonhmkq9tsp29.js">
              </script>
            <script type="text/javascript" src="https://cdn.mypanel.link/global/a4kdpfesx15uh7ae.js">
              </script>
            <script type="text/javascript" src="https://cdn.mypanel.link/global/596z6ya3isgxcipy.js">
              </script>
            <script type="text/javascript" src="https://cdn.mypanel.link/global/4etkgu7ilwdsbob4.js">
              </script>
            <script type="text/javascript" src="https://cdn.mypanel.link/global/wnzsoolloslhfumj.js">
              </script>
            <script type="text/javascript" src="https://cdn.mypanel.link/global/4gzctc1nniwm34yi.js">
              </script>
            <script type="text/javascript" src="https://cdn.mypanel.link/global/axj6p7c9s8l6lgkg.js">
              </script>
            <script type="text/javascript" >
         window.modules.layouts = {"theme_id":4,"auth":0};       </script>
            <script type="text/javascript" >
         window.modules.signin = [];       </script>
            <script type="text/javascript" >
              </script>
              
              <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
      AOS.init();
      $('.testi-slider').slick({
                dots: true,
        arrows: false,
        autoplay:true,
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        speed: 500
      });
      $('.mobile-slider').slick({
              dots: false,
        arrows: false,
        autoplay: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear'
      });
    </script>
              
                      </body>
</html>